.footer-content {
  background: black;
  color: white;
  height: 600px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 70% 30%;
  .footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 40px;
    text-align: center;
    h2 {
      font-size: 3.5rem;
      @media screen and (max-width: 350px) {
        font-size: 2rem;
      }
    }
    p {
      color: grey;
      font-family: $font-3;
      padding: 30px 0px 50px;
      font-size: 1.1rem;
      @media screen and (max-width: 350px) {
        font-size: 0.8rem;
      }
    }

    .button {
      justify-content: center;
      .container {
        &::before {
          background: #303030;
        }
        &:hover::before {
          width: 180px;
        }
        span {
          color: white;
        }
        svg {
          fill: white;
        }
      }
    }
  }

  a:hover {
    background: transparent;
  }

  .credits {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    p {
      font-size: 0.8rem;
      font-family: $font-3;
      padding: 0px 20px;
      @media screen and (max-width: 350px) {
        font-size: 0.7rem;
      }
    }
    ul {
      display: flex;
      padding: 10px;
    }
    a {
      margin-right: 40px;
      color: white;
      position: relative;
      z-index: 10;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 100%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: black;

        &::after {
          z-index: -10;
          content: "";
          background: white;
          height: 50px;
          width: 50px;
          border-radius: 25px;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          position: absolute;
        }
      }
    }
  }
}
