.navbar {
  position: fixed;
  display: flex;
  min-height: 10vh;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  z-index: 99999;
  overflow-x: hidden;

  a:visited {
    color: $color-1;
  }
  p {
    color: $color-1;
    font-size: 2rem;
  }
  ul {
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 620px) {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      position: fixed;
      width: 100%;
      right: -100vw;
      bottom: 0;
      height: 100vh;
      background-color: #000;
      padding-right: 0;
      transition: 1s ease;
    }

    li {
      margin-right: 40px;
      @media screen and (max-width: 620px) {
        margin-right: 0;
      }
    }
    span {
      position: relative;
      display: block;
      cursor: pointer;
      color: black;
      font-family: $font-3;
      transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s;
      animation: setColor 1s ease-in-out forwards;
      animation-delay: 2s;

      @keyframes setColor {
        from {
          color: black;
          visibility: hidden;
        }
        to {
          color: $color-3;
          visibility: visible;
        }
      }

      &:hover {
        text-decoration: none;
        color: #000;
      }
    }

    span:before,
    span:after {
      content: "";
      position: absolute;
      width: 0%;
      height: 2px;
      top: 50%;
      margin-top: -0.5px;
      background: #000;
    }

    span:before {
      left: -2.5px;
    }
    span:after {
      right: 2.5px;
      background: #000;
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:before {
      background: #000;
      width: 110%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:after {
      background: transparent;
      width: 110%;
      transition: 0s;
    }
  }
  .navbar-burger {
    display: none;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: white;
    &:hover {
      cursor: pointer;
    }
    @media screen and (max-width: 620px) {
      display: block;
      position: fixed;
      top: 1rem;
      right: 1rem;
    }
  }
  .burger-bar,
  .burger-bar:before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: $color-3;
  }
  .burger-bar {
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      transform: translateY(-12px);
    }
    &::after {
      transform: translateY(12px);
    }
  }
  .cross-burger {
    background: transparent;
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.show-nav {
  right: 0 !important;
  width: 100vh;
}
.active {
  li {
    span {
      color: $color-1;
    }
  }
}
